.App {
  text-align: center;
}

input {
  padding: 10px;
  margin: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h2 {
  font-size: 18px;
  margin: 10px 0;
}
